@use 'colors' as c;

.m__container {
    width: 100vw;
    height: 622px;
    margin-inline: auto;
    border: 1px solid red;
    background: url(../assets/bg-main-mobile.png);
    background-position: 15% 45%; 
    background-size: 1200px 1200px; 
    background-repeat: no-repeat;
    .m-box-1 {
        width: 89%;  
        min-width: 320px;
        max-width: 475px;
        height: 100%;
        margin-inline: auto;
        border: 1px solid green;
        img {
            margin-top: 40px;
        }
        h1 {
            margin-top: 64px;
            font-size: 2.5rem;
            line-height: 3rem;
            letter-spacing: -0.45px;   
        }
        p {
            line-height: 1.625rem;
        }
    }
}

.section__container {
    width: 100vw;
    height: 420px;
    border-radius: 5% 5% 0% 0%;
    margin-inline: auto;
    border: 1px solid red;
    background-color: #191826;
    .-container--img {
        width: 89%;  
        min-width: 320px;
        max-width: 475px;
        height: 100%;
        margin-inline: auto;
        text-align: center;
        background: url(../assets/bg-pattern-2.svg) no-repeat center;
        background-size: 280px 420px;
        border: 1px solid green;
        img {
            width: 210px;
            height: 430px;
            transform: translateY(-100px);
            }
    }
}